.rounded-button {
    border: none;
    border-radius: 50px;
    background-color: #404A86;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    font-family: 'Poppins';
    width: 150px;
    height: 50px;
  }
  
